---
---

{% if entry.abbr %}
  {% if site.data.venues[entry.abbr] %}
    <abbr>[<a href="{{site.data.venues[entry.abbr].url}}" target="_blank">{{entry.abbr}}</a>]</abbr>
  {% else %}
    <abbr>[{{entry.abbr}}]</abbr>
  {% endif %}
{% endif %}

<div id="{{entry.key}}">

  {% if site.publications.new_items contains entry.key %}
  <span class="badge"><img src="https://img.icons8.com/metro/26/000000/new.png"/></span>
  {% endif %}

  {% if entry.abstract %}<a class="abstract">{% endif %}
  <span class="title">{{entry.title}}</span>
  {% if entry.abstract %}</a>{% endif %}
  <span class="author">
    {% include authors.html authors=entry.author_array %}
  </span>

  <span class="periodical">
  {% if entry.type == "article" %}
    {% if entry.venue and site.data.venues[entry.venue] %}
    <em>In <a class="underline-highlight" href="{{site.data.venues[entry.venue].url}}" target="_blank">{{entry.journal}}</a></em>
    {% else %}
    <em>In {{entry.journal}}</em>
    {% endif %}
  {% elsif entry.type == "inproceedings" or (entry.type == "misc" and entry.booktitle) %}
    {% if entry.venue and site.data.venues[entry.venue] %}
    <em>In <a class="underline-highlight" href="{{site.data.venues[entry.venue].url}}" target="_blank">{{entry.booktitle}}</a></em>
    {% else %}
    <em>In {{entry.booktitle}}</em>
    {% endif %}
  {% elsif entry.type == "misc" %}
    <em>
      {{entry.howpublished}}
      {% if entry.venue and site.data.venues[entry.venue] %}
      <a class="underline-highlight" href="{{site.data.venues[entry.venue].url}}" target="_blank">{{site.data.venues[entry.venue].name}}</a>
      {% endif %}
    </em>
  {% elsif entry.type contains "thesis" %}
    <em>{{entry.school}}</em>
    {% if entry.type == "phdthesis" %}
    (PhD)
    {% elsif entry.type == "mastersthesis" %}
    (MSc)
    {% endif %}
    {{entry.year}}
  {% endif %}
  </span>

  {% if entry.note %}
  <span class="note">{{entry.note}}</span>
  {% endif %}

  <span class="links">
  {% if entry.doi %}
    <a alt="DOI link" href="https://doi.org/{{ entry.doi }}" target="_blank"><i class="ai ai-doi ai-lg"></i></a>
  {% endif %}
  {% if entry.arxiv %}
    <a alt="arXiv link" href="http://arxiv.org/abs/{{ entry.arxiv }}" target="_blank"><i class="ai ai-arxiv ai-lg"></i></a>
  {% endif %}
  {% if entry.url %}
    <a alt="URL" href="{{ entry.url }}" target="_blank"><i class="fas fa-link"></i></a>
  {% endif %}
  {% if entry.pdf %}
    <a alt="PDF version" href="{{ entry.pdf | prepend: '/assets/pdf/' | prepend: site.baseurl | prepend: site.url }}" target="_blank"><i class="far fa-file-pdf fa-lg"></i></a>
  {% endif %}
  {% if entry.poster %}
    <a alt="Poster" href="{{ entry.poster | prepend: '/assets/pdf/' | prepend: site.baseurl | prepend: site.url }}" target="_blank"><i class="fas fa-image fa-lg"></i></a>
  {% endif %}
  {% if entry.slides %}
    <a alt="Slides" href="{{ entry.slides | prepend: '/assets/pdf/' | prepend: site.baseurl | prepend: site.url }}" target="_blank"><i class="fas fa-chalkboard-teacher fa-lg"></i></a>
  {% endif %}
  {% if entry.supp %}
    <a alt="Supplementary material" href="{{ entry.supp | prepend: '/assets/files/' | prepend: site.baseurl | prepend: site.url }}" target="_blank"><i class="fas fa-folder-open fa-lg"></i></a>
  {% endif %}
  {% if entry.code %}
    <a alt="Source code" href="{{ entry.code }}" target="_blank"><i class="fas fa-laptop-code fa-lg"></i></a>
  {% endif %}
  </span>

  <!-- Hidden abstract block -->
  {% if entry.abstract %}
  <span class="abstract hidden">
    <p>{{ entry.abstract }}</p>
  </span>
  {% endif %}

</div>
